**/cst8359.txt
/Lab2/Lab2.csproj
/Lab4/Lab4.csproj
/Lab4/Lab4.sln
/Lab5/Lab5.csproj
/Lab6/Lab6.sln
/Lab6/Lab6.sln
/Lab6/Lab6.csproj
/Lab6/Lab6.sln
/Lab6/Lab6.csproj
/Lab7/Lab7.csproj
/Lab7/Lab7.csproj
/Lab7/appsettings.Development.json
/Lab7/appsettings.json
