@page
@model Lab6.Pages.IndexModel
@{
    ViewData["Title"] = "RAZOR PAGES, STATIC CONTENT AND MIGRATIONS";
  
}
<div class="text-center">
<h2 class="display-4">@ViewData["Title"]</h2>
<p>Student Name: Keynes Murika</p>
<p>Course: 25W_CST8359</p>
<p>Lab 6</p>
</div>